version: '3.8'

services:
  # --- BACKEND PYTHON ---
  pme_new_backend:
    build:
      context: ./backend
    container_name: pme_new_backend
    restart: always
    ports:
      - "${PORT_BACKEND}:8000"
    environment:
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
    # VOLUMEN: Conecta tu carpeta local './backend' con '/app' dentro del contenedor
    volumes:
      - ./backend:/app
    # COMANDO: Sobrescribimos el comando para agregar '--reload'. 
    # Esto hace que Python detecte cambios en el código y reinicie el servidor automáticamente.
    command: uvicorn backend:app --host 0.0.0.0 --port 8000 --reload

  # --- FRONTEND HTML ---
  pme_new_frontend:
    build:
      context: ./frontend
    container_name: pme_new_frontend
    restart: always
    ports:
      - "${PORT_FRONTEND}:80"
    depends_on:
      - pme_new_backend
    # VOLUMEN: Conecta tu carpeta local './frontend' con la carpeta web de Nginx
    volumes:
      - ./frontend:/usr/share/nginx/html

networks:
  default:
    name: base_red_pme
    external: true